/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/booking/Booking.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* app/booking/Booking.module.css */
.Booking_container__FSaGa {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .Booking_form__3adcv {
    display: flex;
    flex-direction: column;
  }
  
  .Booking_form__3adcv label {
    margin: 10px 0;
  }
  
  .Booking_form__3adcv button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Booking_form__3adcv button:hover {
    background-color: #0056b3;
  }
  
